.cards_container{width:100%;height:auto;display: flex;text-align:center !important;padding-top:60px;padding-bottom:60px;}
.card{
    width: 25%;
    height:auto;
    text-align:center !important;
    margin:auto;
}
.image_container{
    width:120px;
    height:120px;
    background:#Fff;
    border-radius:50%;
    margin:auto;
}
#card_title{
    color:#Fff;

}
#card_description{
    color:#fff;
    text-align:left;
    font-size:14px;
}
#more{
    color:#fff;
    transition-duration: 0.5s;
    margin:auto;
    border:1px solid #fff;
    padding:10px 40px 10px 40px;
    font-size:13px;
    border-radius:3px;
}
#more:hover{
    background:rgba(255, 255, 255, 0.39);
    
}
@media(max-width:1096px){
    .card{
        width:30%;
    }
    .image_container{
        width:80px;
        height:80px;
    }
    .image_container svg{
        width:40px !important;
        height:40px !important;
    }

    #card_title{
        font-size:14px;
    }
    #card_description{

        font-size:12px;
    }
}

@media(max-width:741px){
    .cards_container{
        display: block !important;
        padding-top:0px !important;
        
    }
    .card{
        margin:auto;
        width:100% !important;
        margin-top:60px;
    }
    #card_description{
        width:80%;
        margin:auto;
    }
}