.navbar {
  width: 100%;
  height: auto;
  display: flex;
  background: #111;
  overflow-y: hidden !important;
}
.logo a {
  font-family: var(--GB);
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  margin: 20px;
  display: block;
}
.nav a {
  color: #fff;
  margin: 10px;
  font-size: 13px;
}
.nav {
  margin: 22px;
  display: block;
  overflow-y: hidden;
}
.nv_right {
  position: absolute;
  right: 20px;
  top: 20px;
  width: auto;
  margin-right: -20px !important;
}
.nv_right button {
  background: none;
  color: #fff;
  border: none;
  cursor: pointer;
}
.res_btn {
  visibility: hidden;
  width: 1px;
  overflow: hidden;
}
@media (max-width: 1036px) {
  .navbar {
    display: block;
    top: 0;
    height: auto;
    padding-top: 5px;
    padding-bottom: 1px;
    overflow-y: hidden;
  }
  .nav {
    display: none;
    height: auto;
    padding-top: 5px;
    padding-bottom: 20px;
    position: absolute;
    z-index: 1;
    background: #111;
    margin: 0 !important;
    width: 100%;
    padding-left: 20px;
    overflow-y: hidden;
  }
  .nav a {
    display: block;
  }
  .nv_right {
    margin-right: 0px !important;
  }
  .res_btn {
    visibility: visible;
    width: auto;
    overflow: auto;
  }
}
@media (max-width: 670px) {
  .logo a {
    font-size: 20px !important;
  }
  .navbar {
    padding: 1px 0px 1px 0px;
  }
  .nv_right {
    top: 17px;
  }
}
@media (min-width: 1037px) {
  .nav {
    display: block !important;
  }
}
